.DS_Store
venv
venv/*
venv3/*
.idea
.idea/*
__pycache__
__pycache__/*
credentials.json
data/results/*
GAN_question_generation/embeddings/*
GAN_question_generation/askubuntu_unix_superuser/
data/bug_reports/github_data.csv
*.pyc
