asn1crypto==1.2.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2019.11.28
cffi==1.13.0
chardet==3.0.4
click==7.1.2
conda==4.8.3
conda-package-handling==1.6.0
cryptography==3.2
enum34==1.1.6
futures==3.3.0
idna==2.8
ipaddress==1.0.23
joblib==0.14.1
Lasagne==0.2.dev1
nltk==3.4
numpy==1.16.6
pycosat==0.6.3
pycparser==2.19
pyOpenSSL==19.0.0
PySocks==1.7.1
regex==2020.5.14
requests==2.22.0
ruamel-yaml==0.15.46
scipy==1.2.3
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.9.6
Theano==1.0.4
tqdm==4.36.1
urllib3==1.24.2
